.App {
  text-align: center;
  align-items: stretch;
  display: flex;
  flex-direction: column;
  padding-bottom: 5vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

h2{
  margin-top: 5vh;
}

.header-container{
  margin-top: 3vh;
  margin-bottom: 3vh;
}

.horizontal{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.areas-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-bottom: 3vh;
}

.area {
  /* background-color: steelblue; */
  width: 20vw;
  min-height: 40vh;
  /* color: white; */
  border-radius: 3vh;
  padding: 5px;
}

.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.terminal-dashboard{
  background-color: silver;
  margin: 5vw;
  width: 80vw;
  align-self: center;
  border-radius: 10px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.terminal-input{
  margin-bottom: 10px;
  margin-top: 15px;
  width: 75vh
}

.terminals-container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: center;
}

.buttons-container{
  margin-bottom: 10px;
  margin-top: 15px;
}